@import './styles/normalize.scss', './styles/reset.scss';
$color-gray-light: #eef3f4;
$color-gray-medium: #a9b4b7;
$color-gray-dark: #555a5b;
$color-accent: #16b47f;

.page {
	display: flex;
	padding: 80px 0;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	background-image: url('https://bytegrad.com/course-assets/css/2/pattern.svg'),
		linear-gradient(to bottom right, #8fd861, #2cc695 90%);

	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.app {
	display: grid;
	grid-template-columns: 1.5fr 3fr;
	grid-template-rows: 65px 724px 1fr;
	width: 1240px;
	height: 1030px;
	background-color: #fff;
	box-shadow: 0 25px 150px rgba(0, 0, 0, 0.65);
}

@media (max-width: 1300px) {
	.page {
		padding: 0;
	}

	.app {
		width: 100%;
	}
}
@media (max-width: 815px) {
	.app {
		grid-template-columns: 250px 4fr;
	}
}

@media (max-width: 550px) {
	.app {
		height: 100vh;
	}
}

.input {
	font-family: inherit;
}

a {
	color: inherit;
}

.u-italic {
	font-style: italic;
}

.u-accent {
	color: $color-accent;
}

.u-underline {
	text-decoration: underline;
}

.u-bold {
	font-weight: 500;
}

.u-bolder {
	font-weight: 700;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@import './styles/header/header', './styles/gallery/gallery', './styles/sidebar/sidebar',
	'./styles/steps/steps';
